@import "swiper/css";
@import "swiper/css/navigation";
/* Allow swipe/drag gestures */
.swiper,
.swiper-wrapper,
.swiper-slide {
  touch-action: pan-y pan-x !important;
}
/* Move dots bottom-right */
.swiper-pagination {
  bottom: 20px !important;
  right: 20px !important;
  left: auto !important;
  width: auto !important;
}

/* Small bullets */
.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background: white !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1 !important;
}

html, body {
  overflow-x: hidden !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


